background {
    fill: none;
    pointer-events: all;
}
.map {
    fill: Bisque ;
    stroke: #fff;
    stroke-width: 1px;
}
.symbol:hover {
    fill: red;
}
.symbol {
    fill: rgb(255, 98, 98);
    opacity: .4;
    stroke: #fff;
}
.labels {
    text-anchor : middle;
    font-family: garamond;
    font-size: 15px;
}